In [1]:
import pandas as pd

## Sampling collisions

In [4]:
model_name = 'gemma-3-1b-pt'
filename_fn = lambda x: f'{x}-sample-stats.csv'
df = pd.read_csv(f'../data/exhaustive/{filename_fn(model_name)}')

In [5]:
df

   sample_idx        count          mean          std        min           max
0           0  34359869440   9491.273973  2122.655164  28.347353  46543.382812
1           1  34359869440   9338.912643  1939.911406  27.463047  38455.750000
2           2  34359869440  10061.169184  1784.916624  26.331551  48011.203125
3           3  34359869440  10436.978361  2685.334255  43.648937  52808.609375
4           4  34359869440   9646.630449  2012.337411  29.853027  38111.019531
5           5  34359869440  10436.449318  2344.532139  18.496944  36690.414062
6           6  34359869440   9509.748273  2237.611196  17.228855  36161.695312
7           7  34359869440   9157.106724  2083.316769  20.826887  34140.921875
8           8  34359869440  11058.262927  2475.411253  22.809589  62162.691406
9           9  34359869440  10886.070964  2507.579198  18.572681  52399.929688